<div class="container px-4">
    <section class="banner ">
        <div class="infoArea">
            <h1>Welcome back</h1>
            <p>Hi, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, rerum. Reiciendis tempore
                doloremque repellat error enim unde nobis, aut explicabo, ad atque a nihil dolore laboriosam et
                accusantium consequuntur sed.</p>
        </div>
        <div class="imageArea">
            <img src="assets/images/banner-home.svg" alt="">
        </div>
    </section>

    <section class="testimonials flex flex-col justify-center items-center gap-12 px-4">
        <h2 class="text-5xl">Testimonials</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
            <div *ngFor="let testimonial of testimonials">
                <article
                    class="group rounded-md flex flex-col border border-[var(--hit-gray)] bg-[var(--iron)] p-6 text-[var(--dark-text)] dark:border-[var(--pine-cone)] dark:bg-[var(--oxford-blue)] dark:text-[var(--natural-gray)] transition-transform duration-300 ease-in-out hover:border-[var(--beaver)]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="size-12 text-[var(--oxford-blue)] dark:text-[var(--iron)] group-hover:scale-105 transition duration-500 ease-out"
                        aria-hidden="true">
                        <path
                            d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
                    </svg>
                    <p class="mt-2 text-[var(--dark-text)] text-sm">
                        {{testimonial.text}}
                    </p>
                    <div class="flex flex-col-reverse md:flex-row md:items-center mt-8 justify-between gap-6">
                        <div class="flex items-center gap-2">
                            <img src="assets/images/{{ testimonial.image}}" class="size-10 rounded-full object-cover"
                                alt="avatar" />
                            <div class="flex flex-col gap-1">
                                <h3 class="font-bold leading-4 text-[var(--oxford-blue)] dark:text-[var(--iron)]">
                                    {{testimonial.name}} - {{testimonial.position}}
                                </h3>
                                <span class="text-xs text-[var(--dark-text)]">{{testimonial.company}}</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>





</div>