<div class="flex flex-col gap-12 w-screen px-4">
    <div class="flex flex-col md:flex-row w-full mx-auto p-6 bg-white rounded-lg shadow-md">
        <!-- Main Content -->
        <div class="flex-1 mb-4 md:mr-4">
            <div class="flex mb-4 justify-center items-center">
                <img src="{{ post?.imageUrl }}" alt="{{ post?.title }}"
                    class="w-48 h-48 object-cover rounded-md mr-4" />
            </div>

            <h1 class="text-3xl font-bold text-[var(--heading)] mb-4">{{ post?.title }}</h1>

            <p class="text-[var(--text)] mb-6">{{ post?.content }}</p>

            <div class="my-4">
                <p class="text-[var(--mongoose)]">By {{ post?.author }} on {{ post?.date | date: 'mediumDate' }}</p>
            </div>
            <div class="flex flex-col md:flex-row justify-between mb-4">
                <button
                    class="bg-[var(--fountain-blue)] text-white font-semibold py-2 px-4 rounded hover:bg-[var(--hoki)] transition mb-2 md:mb-0 md:mr-2">
                    Like
                </button>
                <button
                    class="bg-[var(--fountain-blue)] text-white font-semibold py-2 px-4 rounded hover:bg-[var(--hoki)] transition">
                    Comment
                </button>
            </div>

            <section>
                <div class="w-full p-5 bg-white rounded-lg">
                    <div id="comments-container">
                        <div class="w-full pt-5 md:pt-8 flex flex-col space-y-4">
                            <div class="flex items-center space-x-2">
                                <div class="group relative flex flex-shrink-0 self-start cursor-pointer">
                                    <img src="https://cdn.pixabay.com/photo/2016/11/29/06/08/woman-1867715_1280.jpg" alt=""
                                        class="h-8 w-8 object-fill rounded-full">
                                </div>
                                <div class="block">
                                    <div class="flex justify-center items-center space-x-2">
                                        <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                            <div class="font-medium">
                                                <a href="#" class="hover:underline text-sm text-primary">Ganendra</a>
                                            </div>
                                            <div class="md:text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                Expedita, maiores!</div>
                                        </div>
                                    </div>
                                    <div class="flex justify-start items-center text-xs w-full">
                                        <div class="font-semibold text-gray-700 px-2 flex items-center justify-center space-x-1">
                                            <a href="#" class="hover:underline">Like</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">Reply</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">15 days</a>
                                        </div>
                                    </div>
                                    <!-- Subcomment -->
                                    <div class="flex items-center space-x-2 space-y-2">
                                        <div class="group relative flex flex-shrink-0 self-start cursor-pointer pt-2">
                                            <img src="https://cdn.pixabay.com/photo/2022/12/24/21/14/portrait-7676482_1280.jpg"
                                                alt="" class="h-8 w-8 object-fill rounded-full">
                                        </div>
                                        <div class="block">
                                            <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                                <div class="font-medium">
                                                    <a href="#" class="hover:underline text-sm text-primary">Hasan Muhammad</a>
                                                </div>
                                                <div class="md:text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit.</div>
                                            </div>
                                            <div class="flex justify-start items-center text-xs w-full">
                                                <div class="font-semibold text-gray-700 px-2 flex items-center justify-center space-x-1">
                                                    <a href="#" class="hover:underline">Like</a>
                                                    <small class="self-center">.</small>
                                                    <a href="#" class="hover:underline">Reply</a>
                                                    <small class="self-center">.</small>
                                                    <a href="#" class="hover:underline">15 hour</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center space-x-2">
                                <div class="flex flex-shrink-0 self-start cursor-pointer">
                                    <img src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633_1280.jpg" alt=""
                                        class="h-8 w-8 object-fill rounded-full">
                                </div>
                                <div class="block">
                                    <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                        <div class="font-medium">
                                            <a href="#" class="hover:underline text-sm text-primary">Nirmala</a>
                                        </div>
                                        <div class="md:text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Expedita, maiores! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Expedita, maiores!</div>
                                    </div>
                                    <div class="flex justify-start items-center text-xs w-full">
                                        <div class="font-semibold text-gray-700 px-2 flex items-center justify-center space-x-1">
                                            <a href="#" class="hover:underline">Like</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">Reply</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">15 hour</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center space-x-2">
                                <div class="flex flex-shrink-0 self-start cursor-pointer">
                                    <img src="https://cdn.pixabay.com/photo/2018/01/21/14/16/woman-3096664_1280.jpg" alt=""
                                        class="h-8 w-8 object-cover rounded-full">
                                </div>
                                <div class="block">
                                    <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                        <div class="font-medium">
                                            <a href="#" class="hover:underline text-sm">Arkadewi</a>
                                        </div>
                                        <div class="md:text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Expedita, maiores!</div>
                                    </div>
                                    <div class="flex justify-start items-center text-xs w-full">
                                        <div class="font-semibold text-gray-700 px-2 flex items-center justify-center space-x-1">
                                            <a href="#" class="hover:underline">Like</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">Reply</a>
                                            <small class="self-center">.</small>
                                            <a href="#" class="hover:underline">15 hour</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Sidebar for Latest Posts -->
        <div class="flex-none w-full md:w-1/3 bg-gray-100 rounded-lg p-4">
            <h2 class="text-2xl font-bold text-[var(--heading)] mb-4">Latest Posts</h2>
            <ul>
                <li *ngFor="let latestPost of latestPosts" class="mb-2">
                    <a [routerLink]="['/post', latestPost.id]" class="text-[var(--fountain-blue)] hover:underline">
                        {{ latestPost.title }}
                    </a>
                    <p class="text-[var(--text)] text-sm">By {{ latestPost.author }} on
                        {{ latestPost.date | date: 'mediumDate' }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
