<nav class="bg-transparent">
    <div class="px-4">
        <div class="flex justify-between">
            <div class="flex space-x-4">
                <div>
                    <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                        <span class="font-bold">Learn Dev</span>
                    </a>
                </div>

                <div class="hidden md:flex items-center space-x-1" *ngFor="let link of links">
                    <a [routerLink]="link.url" routerLinkActive="router-link-active"
                        class="py-5 px-3 text-gray-700 hover:text-gray-900" [attr.aread.disabled]="link.is_disabled"
                        class="py-5 px-3">
                        {{ link.text }}
                    </a>
                </div>
            </div>
            <div class="hidden md:flex items-center justify-start space-x-1">
                <ng-container *ngFor="let button of buttons">
                    <a *ngIf="checkAuth(button.isAuthRequired)" [routerLink]="button.url" routerLinkActive="router-link-active"
                        [ngClass]="[button.bgColor, button.hoverBgColor, button.textColor, button.hoverTextColor]"
                        class="py-2 px-3 rounded transition duration-300">
                        {{ button.text }}
                    </a>
                </ng-container>
            </div>

            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
<!-- 
    <div class="mobile-menu hidden md:hidden">
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Features</a>
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Pricing</a>
    </div> -->
</nav>
